AWS_ACCESS_KEY_ID=replace-with-object-store-access-key
AWS_SECRET_ACCESS_KEY=replace-with-object-store-secret-key
MLFLOW_TRACKING_URI=http://129.114.27.211:8000
GRAFANA_ROOT_URL=http://localhost:3000
GRAFANA_ADMIN_PASSWORD=replace-with-grafana-admin-password
